*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

::-moz-focus-inner {
  border: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  color: #0E324F;
  font-size: 1.325rem;
  font-family: 'montserratregular', sans-serif; }
  body.navigation-open {
    overflow: hidden;
    height: 100%; }
    body.navigation-open .wrapper, body.navigation-open nav, body.navigation-open header {
      height: 100%; }

html, body {
  height: 100%; }

@font-face {
  font-family: 'montserratregular';
  src: url("../font/montserrat-regular-webfont.woff2") format("woff2"), url("../font/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("../font/montserrat-bold-webfont.woff2") format("woff2"), url("../font/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

h1 {
  display: none; }

h2 {
  font-family: 'montserratbold', sans-serif;
  font-size: 2.25rem;
  line-height: 45px;
  color: #42BDE2;
  background: transparent;
  text-align: center;
  margin: 0; }
  @media screen and (min-width: 768px) {
    h2 {
      line-height: 90px;
      font-size: 4.5rem; } }
  @media screen and (min-width: 1280px) {
    h2 {
      font-size: 3.5rem;
      line-height: 70px; } }
  @media screen and (min-width: 1920px) {
    h2 {
      font-size: 4.5rem;
      line-height: 90px; } }
  h2 span {
    font-family: 'montserratbold', sans-serif;
    color: #42BDE2;
    background: transparent; }

h3 {
  font-family: 'montserratbold', sans-serif;
  font-size: 1.5rem;
  color: #42BDE2;
  text-align: center;
  margin: 0;
  padding-bottom: 10px; }
  @media screen and (min-width: 768px) {
    h3 {
      text-align: left;
      font-size: 2.25rem; } }

h4 {
  font-size: 1.325rem;
  color: #42BDE2;
  font-family: 'montserratbold', sans-serif; }

p {
  font-size: 1.325rem;
  padding-bottom: 30px;
  margin: 0;
  line-height: 40px; }
  p strong {
    color: #42BDE2; }
  p span {
    font-style: italic;
    color: #42BDE2; }

a {
  color: #42BDE2;
  text-decoration: none; }
  a:hover, a:focus {
    color: #20a8d1; }

header {
  padding: 25px 35px;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  background: #010b16;
  position: fixed; }
  @media screen and (min-width: 992px) {
    header {
      padding: 30px 120px; } }
  @media screen and (min-width: 2000px) {
    header {
      padding-left: 250px;
      padding-right: 250px; } }
  header .brand-logo {
    display: block;
    float: left;
    line-height: 0;
    font-size: 0; }
  header svg {
    width: 80px;
    max-width: 100%; }
    @media screen and (min-width: 768px) {
      header svg {
        width: 100px; } }
  header .logo {
    fill: #fff; }
    @media screen and (min-width: 992px) {
      header .logo:hover, header .logo:focus {
        fill: #42BDE2; } }
  header .color-logo {
    fill: #42BDE2;
    transition: all ease .5s; }

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  background: #010b16; }
  @media screen and (min-width: 992px) {
    .wrapper {
      padding-left: 120px;
      padding-right: 120px; } }
  @media screen and (min-width: 2000px) {
    .wrapper {
      padding-left: 250px;
      padding-right: 250px; } }
  .wrapper.sub-pages {
    background: #fff; }

.wrapper-start {
  background: #fff;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100%; }
  @media screen and (min-width: 992px) {
    .wrapper-start {
      padding-left: 120px;
      padding-right: 120px; } }
  @media screen and (min-width: 2000px) {
    .wrapper-start {
      padding-left: 250px;
      padding-right: 250px; } }

img {
  width: 100%; }

.container-start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
  align-items: flex-end;
  position: relative; }
  @media screen and (min-width: 1280px) {
    .container-start {
      flex-direction: row;
      flex-wrap: nowrap; } }
  .container-start .start-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    z-index: 1;
    margin-top: 150px; }
    .container-start .start-headline h2 {
      color: #fff; }
    @media screen and (min-width: 1280px) {
      .container-start .start-headline {
        align-self: center;
        flex-direction: row;
        width: 30%;
        margin-top: 85px; }
        .container-start .start-headline h2 {
          margin-right: -195px;
          text-align: left; } }
    @media screen and (min-width: 2000px) {
      .container-start .start-headline {
        width: 40%; } }
  .container-start .start-img {
    width: 100%;
    margin-top: 55px; }
    @media screen and (min-width: 1280px) {
      .container-start .start-img {
        width: 70%;
        margin-top: 130px; } }
    @media screen and (min-width: 2000px) {
      .container-start .start-img {
        width: 60%;
        margin-top: 320px; } }

.arrow {
  display: none; }
  @media screen and (min-width: 768px) {
    .arrow {
      width: 50px;
      bottom: 80px;
      right: 50%;
      position: absolute;
      display: block; } }

nav {
  background-color: #010b16; }
  nav a {
    color: white;
    font-family: 'montserratbold', sans-serif;
    font-size: 2.25rem;
    font-size: 2.25rem;
    line-height: 70px;
    text-decoration: none; }
    nav a:focus {
      color: #42BDE2; }
    @media screen and (min-width: 768px) {
      nav a {
        font-size: 3rem;
        line-height: 120px; } }
    @media screen and (min-width: 1280px) {
      nav a {
        font-size: 3.5rem;
        line-height: 110px; }
        nav a:focus, nav a:hover {
          color: #42BDE2;
          transition: all ease .5s; } }
    @media screen and (min-width: 2000px) {
      nav a {
        font-size: 4.5rem;
        line-height: 150px; } }
  nav .navbar-toggle {
    position: absolute;
    display: block;
    padding: 7px 7px 3px 7px;
    background-color: transparent;
    border: solid 3px #fff;
    z-index: 9;
    width: 45px;
    height: 43px;
    right: 35px;
    top: 24px; }
    nav .navbar-toggle.color-navbar {
      border: solid 3px #42BDE2; }
    @media screen and (min-width: 768px) {
      nav .navbar-toggle {
        top: 29px; } }
    @media screen and (min-width: 992px) {
      nav .navbar-toggle {
        right: 120px;
        top: 34px; } }
    @media screen and (min-width: 2000px) {
      nav .navbar-toggle {
        right: 250px; } }
    nav .navbar-toggle.close-navigation {
      padding: 18.5px 19.5px; }
      @media screen and (min-width: 992px) {
        nav .navbar-toggle.close-navigation {
          right: 135px; } }
      nav .navbar-toggle.close-navigation span {
        display: block;
        height: 5px;
        background-color: #fff;
        position: absolute;
        transition: all .3s ease;
        left: 8px;
        bottom: 12px; }
      nav .navbar-toggle.close-navigation span:nth-child(1) {
        width: 25px;
        transform: rotate(-45deg); }
      nav .navbar-toggle.close-navigation span:nth-child(2) {
        width: 25px;
        opacity: 0; }
      nav .navbar-toggle.close-navigation span:nth-child(3) {
        width: 25px;
        transform: rotate(45deg); }
    nav .navbar-toggle span {
      display: block;
      height: 5px;
      background-color: #fff;
      margin-bottom: 4px;
      transition: all .3s ease; }
      nav .navbar-toggle span.color-span {
        background-color: #42BDE2;
        transition: all ease .5s; }
    nav .navbar-toggle span:nth-child(1) {
      width: 25px; }
    nav .navbar-toggle span:nth-child(2) {
      width: 25px; }
    nav .navbar-toggle span:nth-child(3) {
      width: 25px; }
  nav .hamburger-nav {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: -100%;
    background: #010b16;
    list-style: none;
    z-index: 8;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s, top 0s 0.5s; }
    nav .hamburger-nav .current {
      color: #42BDE2;
      border: solid 3px #42BDE2;
      padding: 5px 35px; }
      @media screen and (min-width: 768px) {
        nav .hamburger-nav .current {
          padding: 10px 45px; } }
    nav .hamburger-nav.visible {
      transition: opacity 0.5s;
      opacity: 1;
      top: 0; }
  nav .design-platforms {
    display: block; }
    nav .design-platforms ul {
      display: block;
      padding-left: 0;
      text-align: center;
      margin-top: 30px; }
      @media screen and (min-width: 768px) {
        nav .design-platforms ul {
          margin-left: -15px;
          margin-right: -15px; } }
      @media screen and (min-width: 2000px) {
        nav .design-platforms ul {
          margin-left: -30px;
          margin-right: -30px; } }
      nav .design-platforms ul li {
        display: inline-block;
        padding: 0 8px; }
        @media screen and (min-width: 768px) {
          nav .design-platforms ul li {
            padding: 0 15px; } }
        @media screen and (min-width: 1920px) {
          nav .design-platforms ul li {
            padding: 0 18px; } }
    nav .design-platforms svg {
      height: 35px;
      width: auto; }
      @media screen and (min-width: 768px) {
        nav .design-platforms svg {
          height: 50px; } }
    nav .design-platforms .icons {
      fill: #fff;
      transition: all ease .5s; }
      @media screen and (min-width: 992px) {
        nav .design-platforms .icons:hover, nav .design-platforms .icons:focus {
          fill: #42BDE2; } }

.heading {
  padding-top: 110px;
  padding-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .heading {
      padding-top: 140px;
      padding-bottom: 50px; } }
  @media screen and (min-width: 992px) {
    .heading {
      padding-top: 170px;
      padding-bottom: 50px; } }
  @media screen and (min-width: 1280px) {
    .heading {
      padding-top: 200px;
      padding-bottom: 60px; } }
  @media screen and (min-width: 1920px) {
    .heading {
      padding-top: 230px;
      padding-bottom: 80px; } }
  .heading h2 {
    margin: 0; }

.heading-start {
  margin-top: 80px;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .heading-start {
      margin-top: 150px; } }
  @media screen and (min-width: 1280px) {
    .heading-start {
      margin-top: 68px;
      margin-bottom: 60px; } }
  @media screen and (min-width: 1920px) {
    .heading-start {
      margin-top: 120px; } }

.container {
  display: flex;
  flex-direction: column-reverse; }
  .container:last-child {
    margin-bottom: 80px; }
    @media screen and (min-width: 768px) {
      .container:last-child {
        margin-bottom: 150px; } }
  @media screen and (min-width: 1280px) {
    .container {
      flex-direction: row; } }
  .container .left {
    width: 100%; }
    @media screen and (min-width: 1280px) {
      .container .left {
        width: 60%;
        padding-right: 120px; } }
  .container .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px; }
    @media screen and (min-width: 1280px) {
      .container .right {
        width: 40%;
        flex-direction: column;
        order: 1; } }
    .container .right .alignment {
      padding-top: 0;
      align-self: flex-start; }
      @media screen and (min-width: 1280px) {
        .container .right .alignment {
          padding-top: 68px; } }
    .container .right img {
      width: 80%; }

.container-portfolio {
  display: flex;
  flex-direction: column;
  padding-bottom: 110px; }
  .container-portfolio:first-child {
    padding-top: 150px; }
    @media screen and (min-width: 768px) {
      .container-portfolio:first-child {
        padding-top: 210px; } }
    @media screen and (min-width: 992px) {
      .container-portfolio:first-child {
        padding-top: 270px; } }
    @media screen and (min-width: 1280px) {
      .container-portfolio:first-child {
        padding-top: 220px; } }
    @media screen and (min-width: 1920px) {
      .container-portfolio:first-child {
        padding-top: 280px; } }
    @media screen and (min-width: 2000px) {
      .container-portfolio:first-child {
        padding-top: 300px; } }
  @media screen and (min-width: 768px) {
    .container-portfolio {
      padding-bottom: 180px; } }
  @media screen and (min-width: 992px) {
    .container-portfolio {
      padding-bottom: 280px; } }
  @media screen and (min-width: 1280px) {
    .container-portfolio {
      padding-bottom: 150px; } }
  @media screen and (min-width: 1280px) {
    .container-portfolio {
      flex-direction: row;
      padding-bottom: 200px; } }
  @media screen and (min-width: 2000px) {
    .container-portfolio {
      padding-bottom: 340px; } }
  .container-portfolio h2 {
    padding: 10px 0;
    text-align: center;
    font-size: 2rem; }
    @media screen and (min-width: 768px) {
      .container-portfolio h2 {
        text-align: left;
        font-size: 3.5rem; } }
  .container-portfolio h3 {
    font-size: 1.5rem;
    text-align: left; }
  @media screen and (min-width: 992px) {
    .container-portfolio .left-portfolio {
      width: 60%;
      align-self: center; } }
  @media screen and (min-width: 1280px) {
    .container-portfolio .left-portfolio {
      order: 1;
      width: 55%;
      padding-right: 80px; } }
  .container-portfolio .right-portfolio {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 992px) {
      .container-portfolio .right-portfolio {
        width: 100%; } }
    @media screen and (min-width: 1280px) {
      .container-portfolio .right-portfolio {
        order: 2;
        width: 45%; } }
  .container-portfolio .cta-button {
    text-align: left; }

.cta-button {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .cta-button {
      margin-right: 30px; } }
  @media screen and (min-width: 1280px) {
    .cta-button {
      margin-right: 0; } }
  .cta-button .cta {
    background: #42BDE2;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    display: block;
    width: 240px;
    padding: 10px 0; }
    @media screen and (min-width: 768px) {
      .cta-button .cta {
        width: 300px;
        padding: 15px 0; } }
    @media screen and (min-width: 992px) {
      .cta-button .cta:hover, .cta-button .cta:focus {
        background: #20a8d1;
        transition: all ease .5s; } }

.ghost-button {
  text-align: center;
  margin-top: 30px; }
  @media screen and (min-width: 768px) {
    .ghost-button {
      margin-top: 0; } }
  @media screen and (min-width: 1280px) {
    .ghost-button {
      margin-top: 30px; } }
  .ghost-button .ghost {
    background: #fff;
    border: solid 3px #42BDE2;
    cursor: pointer;
    text-align: center;
    color: #42BDE2;
    display: block;
    width: 240px;
    padding: 7px 0; }
    @media screen and (min-width: 768px) {
      .ghost-button .ghost {
        width: 300px;
        padding: 12px 0; } }
    @media screen and (min-width: 992px) {
      .ghost-button .ghost:hover, .ghost-button .ghost:focus {
        background: #42BDE2;
        color: #fff;
        transition: all ease 1s; } }

@media screen and (min-width: 768px) {
  .button {
    display: flex;
    flex-direction: row; } }

@media screen and (min-width: 1280px) {
  .button {
    flex-direction: column;
    margin-top: 12px; } }

.container-skills {
  display: flex;
  flex-direction: column;
  margin: 0 -40px; }
  @media screen and (min-width: 768px) {
    .container-skills {
      flex-wrap: wrap;
      flex-direction: row; } }
  @media screen and (min-width: 992px) {
    .container-skills {
      margin: 0 -70px; } }
  @media screen and (min-width: 1280px) {
    .container-skills {
      margin: 0 -40px; } }
  @media screen and (min-width: 1920px) {
    .container-skills {
      margin: 0 -80px; } }
  @media screen and (min-width: 2000px) {
    .container-skills {
      margin: 0 -100px; } }
  .container-skills p {
    padding-bottom: 0; }
  @media screen and (min-width: 1280px) {
    .container-skills.container-pattern-4 {
      width: 100%; } }

.skills {
  margin-bottom: 50px;
  padding: 0 40px; }
  @media screen and (min-width: 768px) {
    .skills {
      margin-bottom: 130px; }
      .skills:nth-child(7), .skills:nth-child(8) {
        margin-bottom: 0; } }
  @media screen and (min-width: 1280px) {
    .skills:nth-child(5), .skills:nth-child(6), .skills:nth-child(7), .skills:nth-child(8) {
      margin-bottom: 0; } }
  @media screen and (min-width: 768px) {
    .skills {
      width: 50%; } }
  @media screen and (min-width: 992px) {
    .skills {
      padding: 0 70px; } }
  @media screen and (min-width: 1280px) {
    .skills {
      width: 25%;
      padding: 0 40px; } }
  @media screen and (min-width: 1920px) {
    .skills {
      padding: 0 80px; } }
  @media screen and (min-width: 2000px) {
    .skills {
      padding: 0 100px; } }
  .skills img {
    padding-bottom: 20px;
    width: 100%; }

.container-icons {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .container-icons {
      flex-wrap: wrap;
      flex-direction: row; } }
  .container-icons .icons {
    width: 100%;
    text-align: center;
    padding-bottom: 60px; }
    @media screen and (min-width: 768px) {
      .container-icons .icons {
        width: 25%; }
        .container-icons .icons:nth-child(5), .container-icons .icons:nth-child(6), .container-icons .icons:nth-child(7), .container-icons .icons:nth-child(8) {
          padding-bottom: 0; } }
    .container-icons .icons img {
      width: 50px;
      padding-bottom: 0; }
    .container-icons .icons p {
      padding-bottom: 0; }

.margin-bottom {
  overflow: auto; }

footer {
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 1280px) {
    footer {
      margin: 0 auto;
      width: 60%; } }
  @media screen and (min-width: 1920px) {
    footer {
      width: 50%; } }
  footer .cta-button {
    margin-right: 0; }
    @media screen and (min-width: 768px) {
      footer .cta-button {
        margin-right: 9px; } }
    @media screen and (min-width: 1920px) {
      footer .cta-button {
        margin-right: 30px; } }
  footer .cta-button, footer .ghost-button {
    display: inline-block; }
    @media screen and (min-width: 768px) {
      footer .cta-button, footer .ghost-button {
        display: inline-block;
        margin-top: 0; } }
  footer .icons {
    padding-bottom: 0; }

/*# sourceMappingURL=main.css.map */