* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-tab-highlight-color: transparent;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #010b16;
}

*:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

div {
  margin: 20px auto 35px auto;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

span {
  color: #19c9f2;
}

p {
  font-size: 35px;
  text-transform: lowercase;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #19c9f2;
}

a:hover {
  color: #4addff;
}

img {
  width: 200px;
  align-self: center;
}
