$primary-color: #010b16;
$secondary-color: #42BDE2;
$white: #fff;
$text-color: #0E324F;

$fliestext: 1.325rem;
$headline: 4.5rem;
$navi-font: 4.5rem;

$screen-tablet: 768px;
$screen-laptop: 992px;
$screen-desktop: 1280px;
$screen-tv: 2000px;

*:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
	color: $text-color;
	font-size: $fliestext;
  background: $primary-color;
  font-family: 'montserratregular', sans-serif;
}

html, body, .wrapper {height: 100%;}
	/*&.navigation-open {
		overflow: hidden;
	}
*/

@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2'),
         url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'montserratbold', sans-serif;
  font-size: 47px;
  line-height: 60px;
  color: $white;
  background: transparent;

  @media screen and (min-width: $screen-laptop) {
    line-height: 90px;
    font-size: $headline;
  }

  span {
    font-family: 'montserratbold', sans-serif;
    color: $secondary-color;
    background: transparent;
  }
}

p {
  font-size: $fliestext;
}

a {
  color: $secondary-color;

  &:hover, &:focus {
    color: darken($secondary-color, 10%);
		text-decoration: none;
	}
}

.wrapper {
  margin-left: 20px;
  margin-right: 20px;

  @media screen and (min-width: $screen-laptop) {
    margin-left: 120px;
    margin-right: 120px;
  }

  @media screen and (min-width: $screen-tv) {
    margin-left: 250px;
    margin-right: 250px;
  }
}

img {
  width: 100%;
}

    .container-start {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      min-height: 100%;
      align-items: flex-end;
      position: relative;

      @media screen and (min-width: $screen-desktop) {
        flex-direction: row;
        flex-wrap: nowrap;
      }
        .start-headline {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-grow: 1;
          text-align: center;
          justify-content: center;


          @media screen and (min-width: $screen-desktop) {
            text-align: left;
            align-self: center;
            width: 30%;
          }

          @media screen and (min-width: $screen-tv) {
            width: 40%;
          }
        }

        .start-img {
          width: 100%;

            @media screen and (min-width: $screen-desktop) {
              width: 70%;
            }

            @media screen and (min-width: $screen-tv) {
              width: 60%;
            }
          }
    }
