@import "normalize";
$primary-color: #293E53;
$secondary-color: #FFBA00;

$screen-tablet: 768px;
$screen-laptop: 992px;
$screen-desktop: 1280px;
$screen-hd: 1920px;
$screen-tv: 2000px;

body {
  background: #fff;
  font-family: 'Coda', cursive;
  color: $primary-color;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.container, .container-header {
  margin: 0 auto;
  width: 100%;
  transform: skewY(6deg);

  @media screen and (min-width: $screen-tablet) {
    padding: 0;
    max-width: $screen-tablet;
  }
  @media screen and (min-width: $screen-laptop) {
    max-width: $screen-laptop;
  }
  @media screen and (min-width: $screen-desktop) {
    max-width: $screen-desktop;
  }
  @media screen and (min-width: $screen-hd){
    max-width: $screen-hd;
  }
  @media screen and (min-width: $screen-tv) {
    max-width: $screen-tv;
  }

  &.container-header {
    transform: none;
    position: relative;
  }
}


a {
  text-decoration: none;
}

h1 {
  font-size: 28px;
  line-height: 36px;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  font-family: 'Abril Fatface', cursive;
  color: $secondary-color;
  margin: 0;
}

header {
  background: $primary-color;
  padding: 15px 35px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;


  .container-header {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-tablet) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.diagonal-box {
  background: $primary-color;
  /*padding-left: 20px;
  padding-right: 20px;*/
  transform: skewY(-6deg);
}

nav {
  display: flex;
  align-items: center;

  @media screen and (min-width: $screen-tablet) {
    justify-content: space-between;
  }

  li {
    a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;
    }
  }
}