$primary-color: #010b16;
$secondary-color: #42BDE2;
$white: #fff;
$dark-white: #f5f5f5;
$text-color: #0E324F;

$fliestext: 1.325rem;

$headline: 4.5rem;
$headline-medium: 2.25rem;
$sub-headline: 2rem;

$navi-font-desktop: 3.5rem;

$screen-tablet: 768px;
$screen-laptop: 992px;
$screen-desktop: 1280px;
$screen-hd: 1920px;
$screen-tv: 2000px;

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: $text-color;
  font-size: $fliestext;
  font-family: 'montserratregular', sans-serif;

  &.navigation-open {
    overflow: hidden;
    height: 100%;

    .wrapper, nav, header{
      height: 100%;
    }
  }
}

html, body {
  height: 100%;
}


@font-face {
  font-family: 'montserratregular';
  src: url('../font/montserrat-regular-webfont.woff2') format('woff2'),
  url('../font/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url('../font/montserrat-bold-webfont.woff2') format('woff2'),
  url('../font/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


h2 {
  font-family: 'montserratbold', sans-serif;
  font-size: $headline-medium;
  line-height: 55px;
  color: $secondary-color;
  background: transparent;
  text-align: center;
  margin: 0;

  @media screen and (min-width: $screen-tablet) {
    line-height: 90px;
    font-size: $headline;
  }

  @media screen and (min-width: $screen-desktop) {
    line-height: 80px;
  }

  @media screen and (min-width: $screen-hd) {
    line-height: 90px;
  }

  span {
    font-family: 'montserratbold', sans-serif;
    color: $secondary-color;
    background: transparent;
  }
}

h3 {
  font-family: 'montserratbold', sans-serif;
  font-size: $sub-headline;
  color: $secondary-color;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;

  @media screen and (min-width: $screen-tablet) {
    text-align: left;
    font-size: $headline-medium;
  }
}

h4 {
  font-size: $fliestext;
  color: $secondary-color;
  font-family: 'montserratbold', sans-serif;
}

p {
  font-size: $fliestext;
  padding-bottom: 40px;
  margin: 0;
  line-height: 35px;

  @media screen and (min-width: $screen-tablet) {
    line-height: 40px;
  }

  strong {
    color: $secondary-color;
  }

  span {
    font-style: italic;
    color: $secondary-color;
  }
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    color: darken($secondary-color, 10%);
  }
}

header {
  padding: 25px 35px;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  background: $primary-color;
  position: fixed;

  @media screen and (min-width: $screen-laptop) {
    padding: 40px 120px;
  }

  @media screen and (min-width: $screen-tv) {
    padding-left: 250px;
    padding-right: 250px;
  }

  .brand-logo {
    display: block;
    float: left;

    line-height: 0;
    font-size: 0;
  }

  svg {
    width: 80px;
    max-width: 100%;

    @media screen and (min-width: $screen-tablet) {
      width: 100px;
    }
  }

  .logo {
    fill: $white;

    @media screen and (min-width: $screen-laptop) {
      &:hover {
        fill: $secondary-color;
      }
    }
  }

  .color-logo {
    fill: $secondary-color;
    transition: all ease .5s;

    &:hover {
      fill: $white;
    }
  }

  .current-lang {
    color: $secondary-color;
  }

  .language {
    position: absolute;
    padding: 0;
    right: 95px;
    bottom: -11px;

   li {
     display: inline;
     list-style-type: none;
   }

    a {
      font-size: $fliestext;
      font-family: 'montserratregular', sans-serif;
    }

    span {
      color: $white;
    }

    @media screen and (min-width: $screen-tablet) {
      bottom: -32px;
    }

    @media screen and (min-width: $screen-laptop) {
      right: 180px;
      bottom: -15px;
    }

    @media screen and (min-width: $screen-desktop) {
      bottom: -10px;
    }

    @media screen and (min-width: $screen-tv) {
      right: 313px;
      bottom: -29px;
    }
  }
}

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  background: $primary-color;

  @media screen and (min-width: $screen-laptop) {
    padding-left: 120px;
    padding-right: 120px;
  }

  @media screen and (min-width: $screen-tv) {
    padding-left: 250px;
    padding-right: 250px;
  }
}

section {
  padding: 40px;

  @media screen and (min-width: $screen-laptop) {
    padding: 120px;
  }

  @media screen and (min-width: $screen-tv) {
    padding: 250px;
  }

}

  .dark-bg {
    background: $primary-color;
    color: $dark-white;

    .skills p, .icons p {
      color: $dark-white;
    }
  }

  .first-section {
    padding-top: 120px;

    @media screen and (min-width: $screen-tablet) {
      padding-top: 170px;
    }
  }

  .light-bg {
    background: $white;
  }

img {
  width: 100%;
}

.container-start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
  align-items: flex-end;
  position: relative;

  @media screen and (min-width: $screen-desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .start-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    z-index: 1;
    margin-top: 150px;

    h2 {
      color: $dark-white;
    }

    @media screen and (min-width: $screen-desktop) {
      align-self: center;
      flex-direction: row;
      width: 30%;
      margin-top: 85px;

      h2 {
        margin-right: -195px;
        text-align: left;
      }
    }

    @media screen and (min-width: $screen-tv) {
      width: 40%;
    }
  }

  .start-img {
    width: 100%;
    margin-top: 55px;

    @media screen and (min-width: $screen-desktop) {
      width: 70%;
      margin-top: 130px;
    }

    @media screen and (min-width: $screen-tv) {
      width: 60%;
      margin-top: 320px;
    }
  }
}

.arrow {
  display: none;

  @media screen and (min-width: $screen-tablet) {
    width: 50px;
    bottom: 80px;
    right: 50%;
    position: absolute;
    display: block;

    .line {
      fill: none;
      stroke: $secondary-color;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit:10;

      &:hover {
        stroke: $white;
        transition: all ease .3s;
      }
    }
  }
}

nav {
  background-color: $primary-color;

  a {
    color: white;
    font-family: 'montserratbold', sans-serif;
    font-size: $headline-medium;
    font-size: 2.25rem;
    line-height: 70px;
    text-decoration: none;

    &:focus{
      color: $secondary-color;
    }

    @media screen and (min-width: $screen-tablet) {
      font-size: 3rem;
      line-height: 120px;
    }

    @media screen and (min-width: $screen-desktop) {
      font-size: $navi-font-desktop;
      line-height: 110px;

      &:hover {
         color: $secondary-color;
        transition: all ease .5s;
      }
    }
    @media screen and (min-width: $screen-tv) {
      font-size: $headline;
      line-height: 150px;
    }
  }

  .navbar-toggle {
    position: absolute;
    display: block;
    padding: 7px 7px 3px 7px;
    background-color: transparent;
    border: solid 3px $white;
    z-index: 9;
    width: 45px;
    height: 43px;
    right: 35px;
    top: 24px;

    &.color-navbar {
      border: solid 3px $secondary-color;
    }

    @media screen and (min-width: $screen-tablet) {
      top: 29px;
    }

    @media screen and (min-width: $screen-laptop) {
      right: 120px;
      top: 43px;
    }

    @media screen and (min-width: $screen-tv) {
      right: 250px;
    }

    &.close-navigation {
      padding: 18.5px 19.5px;

      @media screen and (min-width: $screen-laptop) {
        right: 135px;
      }

      @media screen and (min-width: $screen-tv) {
        right: 255px;
      }

      span {
        display: block;
        height: 5px;
        background-color: $white;
        position: absolute;
        transition: all .3s ease;
        left: 8px;
        bottom: 12px;
      }

      span:nth-child(1) {
        width: 25px;
        transform: rotate(-45deg);
      }
      span:nth-child(2) {
        width: 25px;
        opacity: 0;
      }
      span:nth-child(3) {
        width: 25px;
        transform: rotate(45deg);
      }

    }

    span {
      display: block;
      height: 5px;
      background-color: $white;
      margin-bottom: 4px;
      transition: all .3s ease;

      &.color-span {
        background-color: $secondary-color;
        transition: all ease .5s;
      }
    }

    span:nth-child(1) {
      width: 25px;
    }
    span:nth-child(2) {
      width: 25px;
    }
    span:nth-child(3) {
      width: 25px;
    }
  }

  .hamburger-nav {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: -100%;
    background: $primary-color;
    list-style: none;
    z-index: 8;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s, top 0s 0.5s;

    .current {
      color: $secondary-color;
      border: solid 3px $secondary-color;
      padding: 5px 35px;

      @media screen and (min-width: $screen-tablet) {
        padding: 10px 45px;
      }
    }

    &.visible {
      transition: opacity 0.5s;
      opacity: 1;
      top: 0;
    }
  }

  .design-platforms {
    display: block;

    ul {
      display: block;
      padding-left: 0;
      text-align: center;
      margin-top: 40px;

      @media screen and (min-width: $screen-tablet) {
        margin-left: -15px;
        margin-right: -15px;
      }

      @media screen and (min-width: $screen-tv) {
        margin-left: -40px;
        margin-right: -40px;
      }

      li {
        display: inline-block;
        padding: 0 8px;

        @media screen and (min-width: $screen-tablet) {
          padding: 0 15px;
        }

        @media screen and (min-width: $screen-hd) {
          padding: 0 18px;
        }
      }
    }

    svg {
      height: 35px;
      width: auto;

      @media screen and (min-width: $screen-tablet) {
        height: 50px;
      }
    }

    .icons {
      fill: $white;
      transition: all ease .5s;

      @media screen and (min-width: $screen-laptop) {
        &:hover {
          fill: $secondary-color;
        }
      }
    }

  }
}

.heading {
  width: 100%;
  padding-bottom: 40px;
  h2 {
    margin: 0;
  }
}

.container {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: $screen-desktop) {
    flex-direction: row;
  }

  .left {
    width: 100%;

    @media screen and (min-width: $screen-desktop) {
      width: 60%;
      padding-right: 120px;
    }

    @media screen and (min-width: $screen-hd) {
      padding-right: 170px;
    }

    @media screen and (min-width: $screen-tv) {
      padding-right: 280px;
    }
  }

  .right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $screen-desktop) {
      width: 40%;
      flex-direction: column;
      order: 1;
    }

    .alignment {
      padding-top: 0;
      align-self: flex-start;

      @media screen and (min-width: $screen-desktop) {
        padding-top: 68px;
      }
    }

    img {
      width: 100%;
      padding-bottom: 40px;

      @media screen and (min-width: $screen-desktop) {
        padding-bottom: 0;
      }
    }
  }
}

.container-portfolio {
  display: flex;
  flex-direction: column;


  @media screen and (min-width: $screen-desktop) {
    flex-direction: row;
  }

  h2 {
    padding: 20px 0;

    @media screen and (min-width: $screen-tablet) {
      text-align: left;
    }

  }

  h3 {
    text-align: left;
    font-size: 1.5rem;
    @media screen and (min-width: $screen-tablet) {
      font-size: $headline-medium;
    }
  }

  wbr {
    display: block;

    @media screen and (min-width: $screen-tablet) {
      display: none;
    }
  }

  wbr:after {
    content: "\00200B"
  }


  .left-portfolio {
    @media screen and (min-width: $screen-laptop) {
      width: 60%;
      align-self: center;
    }

    @media screen and (min-width: $screen-desktop) {
      order: 1;
      width: 55%;
      padding-right: 80px;
    }
  }

  .right-portfolio {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-laptop) {
      width: 100%;
    }

    @media screen and (min-width: $screen-desktop) {
      order: 2;
      width: 45%;
    }
  }

  .cta-button {
    text-align: left;
  }
}

.cta-button {
  text-align: center;

  @media screen and (min-width: $screen-tablet) {
    margin-right: 40px;
  }

  @media screen and (min-width: $screen-desktop) {
    margin-right: 0;
  }

  .cta {
    background: $secondary-color;
    border: none;
    cursor: pointer;
    text-align: center;
    color: $white;
    display: block;
    width: 240px;
    padding: 10px 0;

    @media screen and (min-width: $screen-tablet) {
      width: 300px;
      padding: 15px 0;
    }

    @media screen and (min-width: $screen-laptop) {
      &:hover {
        background: darken($secondary-color, 10%);
        transition: all ease .5s;
      }
    }
  }
}

.ghost-button {
  text-align: center;
  margin-top: 40px;

  @media screen and (min-width: $screen-tablet) {
    margin-top: 0;
  }

  @media screen and (min-width: $screen-desktop) {
    margin-top: 40px;
  }

  .ghost {
    border: solid 3px $secondary-color;
    cursor: pointer;
    text-align: center;
    color: $secondary-color;
    display: block;
    width: 240px;
    padding: 7px 0;

    @media screen and (min-width: $screen-tablet) {
      width: 300px;
      padding: 12px 0;
    }

    @media screen and (min-width: $screen-laptop) {
      &:hover {
        background: $secondary-color;
        color: $white;
        transition: all ease 1s;
      }
    }
  }
}

.button {
  @media screen and (min-width: $screen-tablet) {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: $screen-desktop) {
    flex-direction: column;
    margin-top: 12px;
  }
}

.container-skills {
  display: flex;
  flex-direction: column;
  margin: 0 -40px;

  @media screen and (min-width: $screen-tablet) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media screen and (min-width: $screen-laptop) {
    margin: 0 -70px;
  }

  @media screen and (min-width: $screen-desktop) {
    margin: 0 -40px;
  }

  @media screen and (min-width: $screen-hd) {
    margin: 0 -80px;
  }

  @media screen and (min-width: $screen-tv) {
    margin: 0 -100px;
  }

  p {
    padding-bottom: 0;
  }

  &.container-pattern-4 {

    @media screen and (min-width: $screen-desktop) {
      width: 100%;
    }
  }
}

.skills {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $screen-tablet) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $screen-desktop) {
    &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
      margin-bottom: 0;
    }
  }

  padding: 0 40px;

  @media screen and (min-width: $screen-tablet) {
    width: 50%;
  }

  @media screen and (min-width: $screen-laptop) {
    padding: 0 70px;
  }

  @media screen and (min-width: $screen-desktop) {
    width: 25%;
    padding: 0 40px;
  }

  @media screen and (min-width: $screen-hd) {
    padding: 0 80px;
  }

  @media screen and (min-width: $screen-tv) {
    padding: 0 100px;
  }

  img {
    padding-bottom: 10px;
    width: 100%;

    @media screen and (min-width: $screen-laptop) {
      padding-bottom: 30px;
    }
  }
}

.container-icons {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $screen-tablet) {
    flex-wrap: wrap;
    flex-direction: row;
  }

    .icons {
      width: 100%;
      text-align: center;
      padding-bottom: 40px;

      &:last-child {
        padding-bottom: 0;
      }

        @media screen and (min-width: $screen-tablet) {
          width: 25%;

          &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
            padding-bottom: 0;
          }
        }

        @media screen and (min-width: $screen-laptop) {
          padding-bottom: 60px;
        }

      img {
        width: 50px;
        padding-bottom: 0;
      }

      p {
        padding-bottom: 0;
      }
    }
  }

    .margin-bottom {
      overflow: auto;
    }

  footer {
    width: 100%;
    text-align: center;

    @media screen and (min-width: $screen-desktop) {
      margin: 0 auto;
      width: 60%;
    }

    @media screen and (min-width: $screen-hd) {
      width: 50%;
    }

    .cta-button {

      margin-right: 0;

      @media screen and (min-width: $screen-tablet) {
        margin-right: 9px;
      }

      @media screen and (min-width: $screen-hd) {
        margin-right: 40px;
      }
    }

    .cta-button, .ghost-button {

      display: inline-block;

      @media screen and (min-width: $screen-tablet) {
        display: inline-block;
        margin-top: 0;
      }
    }

    .icons {
      padding-bottom: 0;
    }
  }
