@import "normalize";
$primary-color: #293E53;
$secondary-color: #FFBA00;
$screen-phone: 383px;
$screen-tablet: 768px;
$screen-laptop: 992px;
$screen-desktop: 1280px;
$screen-hd: 1920px;
$screen-tv: 2000px;

body {
  background: $primary-color;
  font-family: 'Coda', cursive;
  color: $primary-color;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.diagonal-box,.diagonal-box-bright  {
  padding-left: 15px;
  padding-right: 15px;
  transform: skewY(-6deg);
  background: $primary-color;

  p {
    color: #fff;
  }

  .container {
    min-height: 400px;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;

    @media screen and (min-width: $screen-phone) {
      padding-top: 145px;
      padding-bottom: 145px;
    }
    @media screen and (min-width: $screen-tablet) {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }

  &.diagonal-box-bright {
    background: white;
    p {
      color: $primary-color;
    }
  }
}

.container, .container-header {
  margin: 0 auto;
  width: 100%;
  transform: skewY(6deg);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-tablet) {
    padding: 0;
    max-width: $screen-tablet;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: $screen-laptop) {
    max-width: $screen-laptop;
  }
  @media screen and (min-width: $screen-desktop) {
    max-width: $screen-laptop;
  }
  @media screen and (min-width: $screen-hd){
    max-width: $screen-desktop;
  }
  @media screen and (min-width: $screen-tv) {
    max-width: $screen-hd;
  }

  &.container-header {
    transform: none;
    position: relative;
  }
}

#aboutme {
  .container-right {
    display: block;
  }
}

.container-right {
  width: 100%;
  @media screen and (min-width: $screen-tablet) {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container-left-stage, .container-left {
  width: 100%;

  @media screen and (min-width: $screen-tablet) {
    width: 50%;
  }
}

.container-right-stage {
  width: 100%;
  background-image: url("../redesign/stars.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $screen-tablet) {
    width: 50%;
  }
}

.btn {
  color: $primary-color;
  background: $secondary-color;
  font-size: 18px;
  border-radius: 25px;
  padding: 15px 100px;
  transition: all ease .3s;
  border: solid 2px $secondary-color;

  &:hover, &:active, &:focus {
    background: $primary-color;
    border: solid 2px white;
    color: white;
  }

}

a {
  text-decoration: none;
  color: white;
  border-bottom: solid 2px $secondary-color;
}

h1 {
  font-size: 28px;
  line-height: 36px;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  font-family: 'Abril Fatface', cursive;
  color: $secondary-color;
  margin: 0;
}

header {
  background: $primary-color;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1;

  a {
    border: none;
  }
}

nav {
  display: flex;
  align-items: center;

  @media screen and (min-width: $screen-tablet) {
    justify-content: space-between;
  }

  ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    line-height: 36px;
  }

  li {
    list-style: none;
    padding-right: 15px;

    &:last-child {
      padding-right: 0;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;
      border: none;
    }
  }
}

.st0{fill:#FFBA00;}
.st1{fill:#293E53;}
.st2{font-family:'Coda-Regular';}
.st3{font-size:15px;}
.st4{display:none;}
.st5{display:inline;fill:#FFBA00;}
.st6{display:none;fill:none;stroke:#FFBA00;stroke-miterlimit:10;}